---
---

@import "{{ site.theme }}";
.site-title::before {
	content: url("https://kcollins.github.io/OpenOBS-328/assets/images/favicon1.png");
	display: inline-block;
	position: relative;
	width: 38px;
	top: 5px;
}
